body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: #FFD700
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#head1{
    border: 3px solid;
}
#head2{
    border: 3px solid
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#byline{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#spotify{
    font-style: italic;
    font-size: small;
}
#soundcite{
    font-style: italic;
    font-size: small;
}
#timeline{
    font-style: italic;
    font-size: small;
}
#contact {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-style: italic;
    text-align: center;}

 #content {
    width: 65%;
    margin: auto;
      }
      
    @media (orientation: portrait) {
     #content {
      width: 90%;
        }
      }